html {
  background-color: #fcdadf;
}

* {
  color: #000000;
}

*.light {
  color: #505050;
}

hr {
  max-width: 500px;
  margin: 32px auto;
  border: none;
  background-color: #bdbdbd;
}

code {
  color: #c2185b;
  background-color: #c2185b22;
  font-size: inherit;
}

pre {
  background-color: #c2185b22;
  padding: 12px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

pre code {
  background-color: transparent;
}

blockquote {
  margin: 0;
  padding: 24px;
  border-left: 4px solid #c2185b;
  font-size: 1.6rem;
  margin: 40px 0;
}

blockquote p {
  color: #c2185b;
}

.twitter-tweet,
.twitter-tweet-rendered {
  margin: 16px auto;
}

p {
  line-height: 1.6rem;
}
