* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  background-color: #fcdadf;
}

hr {
  height: 0;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  margin: 32px 0;
}

ol,
ul {
  margin-left: 1.45rem;

  li {
    padding-left: 0;
    margin-bottom: calc(0.725rem);
  }
}

code {
  padding: 4px 8px;
  font-size: 1rem;
  border-radius: 4px;
  background-color: rgba(#c2185b, 0.13);
  color: #c2185b;
  font-weight: bold;
}
