.PostList {
  & > h1 {
    margin-bottom: 20px;
  }

  & > p {
    margin-bottom: 48px;
    font-size: 1.4rem;
    font-family: 'Lora';
    color: #505050;
  }

  & > label {
    display: block;
    margin-bottom: 4px;
  }

  & > input {
    border-radius: 4px;
    border: 1px solid black;
    font-size: 1rem;
    margin-bottom: 32px;
    padding: 8px;
    width: 100%;
  }

  [role='feed'] {
    [role='article'] {
      h2 {
        margin-bottom: 12px;
      }

      p {
        margin-bottom: 12px;
      }
    }
  }
}
